* {
  font-family: 'Montserrat', sans-serif;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.filter, .form, .name, .number {
  display: flex;
  flex-direction: column;
  max-width: 200px;
}

.contacts, .right-sidebar {
  display: flex;
  flex-direction: column;
}

.person {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  margin: 0;
}

.notification {
  color: darkgreen;
  background: rgb(158, 224, 199);
  font-size: 18px;
  border-style: solid;
  border-radius: 2px;
  padding: 10px;
  margin-bottom: 10px;
}

.error {
  color: darkred;
  background: rgb(221, 159, 159);
  font-size: 18px;
  border-style: solid;
  border-radius: 2px;
  padding: 10px;
  margin-bottom: 10px;
}
