.notification {
  color: darkgreen;
  background: rgb(158, 224, 199);
  font-size: 18px;
  border-style: solid;
  border-radius: 2px;
  padding: 10px;
  margin-bottom: 10px;
}

.error {
  color: darkred;
  background: rgb(221, 159, 159);
  font-size: 18px;
  border-style: solid;
  border-radius: 2px;
  padding: 10px;
  margin-bottom: 10px;
}
