* {
  font-family: "Helvetica Neue", sans-serif;
  color: #100a0c;
}

html,
body {
  height: 100%;
}

#root,
.wrapper {
  height: 100%;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

body {
  margin: 0;
  background-color: #496087;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 0;
  overflow: auto;
}

h1 {
  color: #fcfcfc;
  font-weight: 500;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8px;
  background-color: #fcfcfc;
  padding: 8px;
  border-radius: 16px;
}

h2 {
  color: #291924;
  text-align: center;
  margin: 0;
  padding-bottom: 24px;
  font-weight: 500;
}

.contacts,
.add-contact {
  display: flex;
  flex-direction: column;
  padding: 24px;
  width: 310px;
  background-color: #a4b4d1;
  border-radius: 8px;
}
